{{ define "main"}}

<div class="grid place-content-center py-6">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    {{ .Title }}
  </h1>
</div>

<div class="flex flex-wrap place-content-center px-8">
  {{ range $index, $element := .Data.Pages }}
  <div
    class="js-show-on-scroll m-8 h-[65vh] max-w-sm rounded-lg border border-gray-200 bg-white shadow"
    style="--order: {{$index}}"
  >
    <a href="#">
      <img class="rounded-t-lg" src="{{ .Params.image | relURL }}" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          {{ .Params.Name }}
        </h5>
      </a>

      <div class="flex min-h-[28vh] flex-auto flex-col justify-between">
        <p class="mb-3 font-normal text-gray-700">{{.Content }}</p>

        <a
          href="{{ .Params.lien }}"
          class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300"
        >
          En savoir plus
          <svg
            aria-hidden="true"
            class="ml-2 -mr-1 h-4 w-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  {{ end }}
</div>

{{ end }}
