<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css"
    rel="stylesheet"
  />
  {{ $script := resources.Get "app.js" }}
  <script defer src="{{ $script.Permalink }}"></script>
  <link rel="icon" type="image/png" href="{{ .Site.Params.logo | relURL}}" />

  {{ $styles := resources.Get "css/styles.scss" | toCSS | postCSS (dict "config"
  "./assets/css/postcss.config.js") }} {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }} {{ $styles := $styles | minify | fingerprint |
  resources.PostProcess }}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    integrity="{{ $styles.Data.Integrity }}"
  />
  {{ end }} {{ $styles := resources.Get "main.css" }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" />
</head>
