{{with .Site.Data.home_gallery}} {{ if .enable }}
<div id="default-carousel" class="relative" data-carousel="static">
  <div class="h-slide relative overflow-hidden">
    {{ range .galleryImage }}
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="{{ .image | relURL }}"
        class="h-slide absolute top-1/2 left-1/2 block w-full -translate-x-1/2 -translate-y-1/2 object-cover"
        alt="..."
      />
    </div>
    {{end }}
  </div>
  <button type="button" id="next" class="hidden" data-carousel-next></button>
</div>
{{end}} {{end}}
