{{with .Site.Data.home_pres}} {{ if .enable }}

<div class="grid h-[110vh] place-content-center p-16 max-md:p-8">
  <div
    class="md:max-w-8xl flex flex-col items-center rounded-lg border border-gray-200 bg-white shadow hover:bg-gray-100 md:h-[80vh] md:flex-row"
  >
    <iframe
      src="{{ .youtube }}"
      frameborder="0"
      class="aspect-video h-full rounded-t-lg object-cover max-md:w-full md:mr-10 md:rounded-none md:rounded-l-lg"
      alt=""
    ></iframe>
    <div
      class="flex flex-col justify-between p-4 text-justify leading-normal md:mr-10"
    >
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{ .title | safeHTML }}
      </h5>
      <p class="mb-3 font-normal text-gray-700">{{ .description }}</p>
    </div>
  </div>
</div>
{{end}} {{end}}
