{{with .Site.Data.home_pres}} {{ if .enable }}

  <!-- Contenu du div -->


<div class="place-content-center p-16  mx-auto">
  <div
    class="lg:max-w-8xl items-center text-center ju rounded-lg  bg-white ">
    <h1 class="mb-2 text-4xl font-thin p-8 mb-4 tracking-normal text-gray-900">
      {{ .title | safeHTML }}
      </h1>
    <div class="container grid g gap-6 grid-cols-1 lg:grid-cols-2">
      
      <div class="flex items-center justify-center">
          <p class="mb-3 text-lg font-light tracking-normal text-gray-700 p6">{{ .description }}</p>
      </div>
      <div>
        <iframe
          src="{{ .youtube }}"
          frameborder="0"
          class="aspect-video h-full rounded-lg object-cover w-full lg:mr-10 "
          alt=""
        ></iframe>
      </div>
    </div>
  </div>
</div>


{{end}} {{end}}
