{{ with .Site.Data.home_pres }} 
  {{ if .enable }}

<div class="p-16 mx-auto max-w-8xl">
  <div class="rounded-lg bg-white text-center">
    <h1 class="mb-2 text-4xl font-thin p-8 mb-4 tracking-normal text-gray-900">
      {{ .title | safeHTML }}
    </h1>

    <div class="container grid grid-cols-1 lg:grid-cols-2 gap-6 justify-center">
      <div class="flex items-center justify-center text-left">
        <div class="prose max-w-none text-gray-700" style="text-align: justify;">
          {{ .description | markdownify }}
        </div>
      </div>

      <div class="flex items-center justify-center">
        <iframe
          src="{{ .youtube }}"
          frameborder="0"
          class="aspect-video rounded-lg object-cover w-full max-w-xl"
          alt=""
        ></iframe>
      </div>
      
    </div>
  </div>
</div>

{{ end }} 
{{ end }}

