{{ define "main"}}

<div class="grid place-content-center py-6">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    {{ .Title }}
  </h1>
</div>

{{with .Site.Data.wei}} {{ if .enable }}
<div class="w-full flex flex-col items-center">
  <h1
  class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl"
  >
  {{ .dates | safeHTML }}
</h1>
<div>
<h1>{{ .list_title | markdownify }}</h1><br>
<h1>{{ .list | markdownify }}</h1></div>
</div>

{{end}} {{end}} {{ end }}
